* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Satisfy';
  src: url('../fonts/Satisfy-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FrederickatheGreat';
  src: url('../fonts/FrederickatheGreat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

ul, ol , li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

.clr:before, .clr:after {
    content: "";
    display: table;
} 
.clr:after {
    clear: both;
}

#page {
    font-family: arial;
}

.top-header, .header, .banner, .container, .discount {
    width: 1000px;
}

#top-header {
    background: #f5f5f5;
    height: 30px;
    line-height: 30px;
}

.top-header {
    font-size: 11px;  
}

.top-header .hotline {
    float: left;
}

.top-header .hotline span {
    color: red;
}

.top-header .member {
    float: right;
}

.top-header .member li {
    float: left;
}

.top-header .member li a {
    color: #666;
    margin-left: 20px;
}

.top-header .member li a span {

    color: red;
}

#header {
    box-shadow: 0 1px 2px #ccc;
}

#header .header {
    display: table;
    height: 65px;
}

.logo {
    display: table-cell;
    vertical-align: middle;
}

.logo a {
    color: #ffa319;
    font-family: FrederickatheGreat;
    font-size: 46px;
    font-weight: 100;
    text-transform: capitalize;
}

.logo a span {
    color: #000000;
    display: inline-block;
    font-size: 20px;
    font-style: normal;
}

#header .header .menu {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 60%;
}

#header .header .menu > li {
    display: inline-block;
    margin-left: 20px;
}

#header .header .menu > li > a {
    color: #7f7f7f;
    font-size: 14px;
    height: 65px;
    line-height: 65px;
}

#header .header .menu > li.has-sub-menu {
    position: relative;
}

#header .header .menu > li.has-sub-menu .sub-menu {
    background: white none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 #777;
    display: none;
    font-weight: 100;
    left: -70%;
    line-height: 30px;
    margin-top: 10px;
    padding: 8px 0;
    position: absolute;
    right: -70%;
    text-align: center;
    top: 45px;
    z-index: 100;
}

#header .header .menu > li.has-sub-menu .sub-menu li a {
    color: #7f7f7f;
}

#header .header .menu > li.has-sub-menu:hover .sub-menu {
    display: block;
}

#container {
    width: 1000px;
}

#container .banner {
    position: relative;
    height: 375px;
    overflow: hidden;
    box-shadow: 0 4px 5px #888;
}

#container .banner .image1,
#container .banner .image2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

#container .banner .image1 {
    z-index: 10;
    animation: image1 12s ease-in infinite alternate;
}

#container .banner .image2 {
    z-index: 1;
    animation: image2 12s ease-out infinite alternate;
}

@keyframes image1 {
    0% {
        opacity: 1;
        z-index: 10;
    }
    
    50% {
        opacity: 0;
        z-index: 1;
    }

    100% {
        opacity: 1;
        z-index: 10;
    }
}

@keyframes image2 {
    0% {
        opacity: 0;
        z-index: 1;
    }
    
    50% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: 1;
    }
}

.container .title {
    color: black;
    font-size: 26px;
    margin: 40px 0 10px 0;
    text-align: center;
    font-weight: 100;
}

.container .list-product {
    width: 100%;
}

.container .list-product .product {
    width: 30%;
    float: left;
    height: 380px;
    border: 1px solid #DDD;
    box-shadow: 0 0px 1px #CCC;
    margin-bottom: 10px;
}

.container .list-product .product img {
    width: 100%;
}

.container .list-product .product .price {
    float: left;
    margin-left: 20px; 
}

.container .list-product .product strong {
    color: red;
    font-weight: 100;
}

.container .list-product .product p {
    padding-bottom: 10px;
    color: black;
    margin-top: 10px;
}

.container .list-product .product span {
    background: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    color: white;
    text-align: center;
    float: right;
    margin-right: 20px; 
    margin-top: 20px;
}

.container .list-product .product span i {
    padding-top: 6px;
}

.container .list-product .mid {
    margin: 0 5%;
}

.container .description {
    width: 75%;
    text-align: center;
    margin-bottom: 20px;
}

.container .description p {
    color: #777;
    font-size: 14px;
}

#footer {
    background: #f5f5f5 ;
}

.footer {
    width: 1000px;
    padding-bottom: 30px;
}

.footer .left {
    width: 30%;
    float: left;
    padding-top: 60px;
}

.middle {
    float: left;
    margin: 0 5%;
    text-transform: uppercase;
    width: 30%;
}

.middle a {
    color: black;
}

.middle img {
    float: left;
    padding-right: 10px;
}

.middle p {
    padding-bottom: 15px;
}

.middle > p {
    padding-top: 30px;
}

.pp, .fb, .gg, .tt {
    width: 100%;
}

.right {
    width: 30%;
    float: right;
    padding-top: 30px;
}

.right .phone {
    padding-top: 20px;
}

.right .cty {
    color: #888;
    padding-top: 20px;
}